html,
body {
   width: 100%;
   height: 100%; /*vh*/
   /*overflow: hidden;*/
   scroll-y:overflow;
  padding: 0;
  margin: 0;
  /*background: linear-gradient(to top right, white, #3f4249);*/
  background: #3f4249;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
/*
*{
  margin:0;
  padding:0;
  text-align:center;
  box-sizing: border-box;
}*/
button{
  position:relative;
  overflow:hidden;
  margin-top:80px;
  padding:20px 60px;
  font-weight:900;
  font-size:0.7em;
  border-radius:5px;
  border:0;
  color:#C66C6C;
  box-shadow:-2px 4px 4px #ccc;
  background-color:#EECCA1;
}

button:hover {
  cursor:pointer;
}

/** general layout **/
.intro{
  width: 100%;
  margin: 0 auto; 
  font-family: 'Asap', sans-serif;
  text-align: center; 
  color: #2f3238; 
  text-shadow: 0px 1px 1px #4e525a;
}
.intro h1{
   font-size: 5em; 
}

a.intro {
font-size:1.4em;
font-weight:300;
}
/** general layout end **/


/***Coffee cup start***/
#wrap {
      position: fixed;
      left: auto;
      top: 27%;
      transform: translate(-50%, -50%);
      transform: scale(0.8);
      /*  top: 55%;*/
      /**left: 50%;**/
      /*width: 300px;*/
}
#steam {
      position: absolute;
      width: 150px;
      height: 150px;
      background-color: white;
      border-radius: 50%;
      margin-left: 75px;
      margin-top: -75px;
      z-index: 0;
      opacity: 0;
}
.steam-one {
      animation: steam-one 4s ease-out infinite;
}
.steam-three {
      animation: steam-one 4s ease-out 1s infinite;
}
.steam-four {
      animation: steam-one 4s ease-out 1s infinite;
}
@keyframes steam-one {
      0% {
            transform: translateY(0) translateX(0) scale(0.25);
            opacity: 0.25;
      }
      100% {
            transform: translateY(-200px) translateX(20px) scale(1);
            opacity: 0;
      }
}    
.steam-two {
      animation: steam-two 4s ease-out 0.5s infinite;
}
.steam-four {
      animation: steam-two 4s ease-out 1.5s infinite;
}
@keyframes steam-two {
      0% {
            transform: translateY(0) translateX(0) scale(0.25);
            opacity: 0.25;
      }
      100% {
            transform: translateY(-200px) translateX(-20px) scale(1);
            opacity: 0;
      }
} 
.cup-body {
      position: absolute;
      width: 100%;
      height: 200px;
      background-color: white;
      border-radius: 0 0 150px 150px;
      overflow: hidden;
      z-index: 1;
} 
.cup-shade {
      position: absolute;
      width: 300px;
      height: 370px;
      margin-left: 65%;
      margin-top: -10px;
      transform: rotate(50deg);
      background-color: #ebebeb;

}
.cup-handle {
      position: relative;
      right: -40%;
      width: 75px;
      height: 80px;      
      border: 15px solid #ebebeb ;
      margin-left: 135px;
      margin-bottom: 95px;
      border-radius: 0 80px 150px 0;
}
.saurce {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 20px;
      border-radius: 0 0 150px 150px;
      background-color: white;
      z-index: 2;
} 
/***Coffee cup end***/


/*        sheen effect      */
/*This is the base aniamtion*/
.sheen:after{
  content: '';
  position: absolute;
  top: -70%;
  right: -70%;
  bottom: -70%;
  left: -70%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 90.5em);
}
/*This activates the sheen once the button has been hovered*/
.sheen:hover::after, button:focus::after {
  animation: sheen 1s forwards;
}
@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

button:active{
  box-shadow:0px 0px 0px white;
  -webkit-box-shadow: inset -2px 2px 2px #ccc;
  -moz-box-shadow:    inset -2px 2px 2px #ccc;
  box-shadow:         inset -2px 2px 2px #ccc;
  transform:translate(0, 2px);
  color:#FFC491;
  background-color:#EDE358;
}
button:focus{
  outline:0;
}